In [1]:
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, Dataset
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

## Some ETL

In [10]:
data = pd.read_csv("../sample_datasets/sales-forecast-superstore/SuperStore Processed Data.csv")
data['Order Date'] = pd.to_datetime(data['Order Date'],dayfirst=True)
data['Ship Date'] = pd.to_datetime(data['Ship Date'],dayfirst=True)

In [11]:
data.head(2)

,Row ID,Order Date,Ship Date,Order ID,Customer ID,Customer Name,Region,Country,State,City,...,Category,Sub-Category,Product ID,Product Name,Quantity,Payment Mode,Ship Mode,Sales,Profit,Returns
0,454,2020-10-20,2020-10-24,CA-2020-147277,EB-13705,Ed Braxton,East,United States,Ohio,Akron,...,Furniture,Tables,FUR-TA-10001539,Chromcraft Rectangular Conference Tables,2,COD,Standard Class,317.364,-75.8304,0
1,1528,2019-07-22,2019-07-27,CA-2019-122392,CJ-12010,Caroline Jumper,East,United States,Pennsylvania,Allentown,...,Furniture,Furnishings,FUR-FU-10002456,"Master Caster Door Stop, Large Neon Orange",2,COD,Standard Class,11.648,3.3488,0

### Some EDA

In [12]:
data.describe()

,Row ID,Order Date,Ship Date,Quantity,Sales,Profit,Returns
count,5901.000000,5901,5901,5901.000000,5901.000000,5901.000000,5901.000000
mean,5022.422471,2020-02-29 01:53:57.620742144,2020-03-04 00:08:47.097102080,3.781901,265.345589,29.700408,0.048636
min,1.000000,2019-01-01 00:00:00,2019-01-05 00:00:00,1.000000,0.836000,-6599.978000,0.000000
25%,2486.000000,2019-09-11 00:00:00,2019-09-15 00:00:00,2.000000,71.976000,1.795500,0.000000
50%,5091.000000,2020-03-16 00:00:00,2020-03-19 00:00:00,3.000000,128.648000,8.502500,0.000000
75%,7456.000000,2020-09-14 00:00:00,2020-09-16 00:00:00,5.000000,265.170000,28.615000,0.000000
max,9994.000000,2020-12-31 00:00:00,2021-01-05 00:00:00,14.000000,9099.930000,8399.976000,1.000000
std,2877.977184,NaN,NaN,2.212917,474.260645,259.589138,0.215124